* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  margin: 2px;
  padding: 2px;
  background-color: rgb(249, 243, 237);
  background-image: url("./../images/istockphoto-595735340-612x612.jpg");
}
header {
  line-height: 35px;
  text-align: center;
  color: #86592d;
  padding: 50px;
}
.main-title {
  background-image: url("./../images/beachshowcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
}
h1 {
  margin: 100px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
}
.sub-head {
  font-size: 1.3em;
  line-height: 25px;
  margin: 50px;
}
.read-more-link {
  color: #86592d;
  padding: 15px 20px;
  font-size: 17px;
  border: 1.5px solid #86592d;
  border-radius: 10px 10px;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}
h2 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0px;
}
p {
  margin: 0%;
}
.sub-head-a {
  text-align: center;
  color: white;
  background-color: #86592d;
}
.sub-head-b {
  color: #86592d;
  background-color: rgb(249, 243, 237);
  text-align: center;
}
.sub-head-c {
  color: white;
  background-color: rgba(229, 174, 119, 0.749);
  border: 1.5px rgb(39, 39, 38) solid;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 1em;
  width: 15em;
}
.sub-head-d {
  color: #86592d;
  background-color: rgba(255, 241, 223, 0.858);
  border: 1.5px rgb(39, 39, 38) solid;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 1em;
  width: 15em;
}
.sub-head-e {
  color: white;
  background-color: #63b4c8d0;
  border: 1.5px rgb(39, 39, 38) solid;
  border-radius: 15px;
  display: inline-block;
  margin: 10pxs;
  padding: 1em;
  width: 15em;
}
h3 {
  text-align: center;
  color: azure;
}
.main-foto-1 {
  border: #ffffffd0 1px solid;
  border-radius: 20px;
  background-image: url(./../images/378.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25svh;
  margin: 0;
}
.main-foto-2 {
  border: #ffffffd0 1px solid;
  border-radius: 20px;
  background-image: url(./../images/imag4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25svh;
  margin: 0;
}
.main-foto-3 {
  border: #ffffffd0 1px solid;
  border-radius: 20px;
  background-image: url(./../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25svh;
  margin: 0;
}
footer {
  color: #f9f3ee;
  background-color: rgb(59, 59, 59);
  line-height: 50px;
}
